body {
    margin: 0;
    border: 1px solid cyan;
    height: 90px; 
    border: 1px solid red ;
  }
   
.contenedor-cajas {
    display: block;
   
  }

.caja{
  border: 1px solid cyan;
  height: 90px;
}
.caja1{
  border: 1px solid cyan;
  height: 90px;
}
main{
  border: 1px solid cyan;
  height: 90px;
}